.content {
    width: 300px;
    height: 300px;
    margin: 20px;
}
#save {
    margin: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}
#save:hover {
    cursor: pointer;
}
#status {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}
#donate {
    font-size: 16px;
}
label {
    font-size: 14px;
}